.search{
    border: none;
    height:30px;
    width: 30%;
    border-radius: 10px;
    margin:  7px auto auto 10px;
    display: inline;
}
.buttonsearch{
    height:30px;
    width: 70px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.buttonsearch:hover{
    transform: scale(1.1);
}

.card{
    width: 25%;
    height: 20%;
    background-color: #fff;
    text-align: center;
    border: 1px black;
    margin: 20px 20px 5px 20px;
    float: left;
    border-radius: 10px;
}
.card:hover{
    transform: scale(1.1);
}
.title h5{
    font-size: 20px;
    margin: 15px auto auto auto;
}
.card h5{
    font-size: 20px;
    margin: 15px auto auto auto;
}
.card button{
    width: 40%;
    height: 20%;
    background-color: black;
    border: none;
    border-radius: 5px;
    margin-top: 25px; 
}
.card button a{
    color: #fff;
    display: inline-block;
    width: 100%;
}
.card button:hover{
    transform: scale(1.1);
}
@media (max-width: 925px) {
    .card button{
        width: 70px;
        height: 40px;
        margin-top: 15px;
    }
}
@media (max-width: 768px) {
    .card{
        width: 40%;
        height: 20%;
        margin: 20px auto auto 20px;
    }
    .card button{
        width: 70px;
        height: 40%;
    }
    .card h5{
        font-size: 15px;
    }
    .card button a{
        font-size: 12px;
    }
    .card h5{
        font-size: 15px;
        margin: 5px auto auto auto;
    }
}
@media (max-width: 360px) {
    .card{
        height: 200px;
    }
    .card button{
        width: 70px;
        height: 60px;
    }
}