.search{
    border: none;
    height:30px;
    width: 30%;
    border-radius: 10px;
    margin:  7px auto auto 10px;
    display: inline;
}
.buttonsearch{
    height:30px;
    width: 70px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.buttonsearch:hover{
    transform: scale(1.1);
}

.card{
    width: 300px;
    height: 150px;
    background-color: #fff;
    text-align: center;
    border: 1px black;
    margin: 20px 20px 5px 20px;
    float: left;
    border-radius: 10px;
}
.card:hover{
    transform: scale(1.1);
}
.title h5{
    font-size: 20px;
    margin: 15px auto auto auto;
}
.card h5{
    font-size: 20px;
    margin: 15px auto auto auto;
}
.card button{
    width: 30%;
    height: 20%;
    background-color: black;
    border: none;
    border-radius: 5px;
    margin-top: 25px; 
}
.card button a{
    color: #fff;
    width: 100%;
    display:inline-block;

}
.card button:hover{
    transform: scale(1.1);
}
@media (max-width: 821px) {
    .card{
        width: 300px;
        height: 150px;
        margin: 10px auto auto 10px;
    }
    .card button{
        width: 90px;
        height: 40px;
        margin-left: 5px;
    }
    .card h5{
        font-size: 15px;
        margin-top: 5px;
    }
}
@media (max-width: 768px) {
    .card{
        margin: 10px auto auto 30px;
    }
}
@media (max-width: 414px) {
    .card{
        margin: 10px auto auto 40px;
    }
}
@media (max-width: 320px) {
    .card{
        margin: 10px auto auto 5px;
    }
}